<div class="container">

    <div class="alert alert-info"><strong>Requête Mongo : </strong>{{ lastQuery }}</div>
    <div class="row">
        <div class="span12">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Speakers</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in entries">
                    <td><a href="#/talks/{{entry._id}}">{{entry.title}}</a></td>
                    <td>
                        <ul>
                            <li ng-repeat="speaker in entry.speakers">
                                <a href="#/speakers/{{ speaker.ref }}">{{ speaker.name.firstName }} {{
                                    speaker.name.lastName }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tbody>
            </table>
        </div>
    </div>

</div>


