<div class="container">

    <div class="alert alert-info"><strong>Requête Mongo : </strong>{{ lastQuery }}</div>


    <div class="row">
        <div class="span6">
            <input ng-model="query" type="text" class="input-medium search-query span6"
                   name="query" placeholder="Type something..." autocomplete="off"
                   z-keypress="search()">
        </div>
        <div class="span2 offset1">
            <button ng-click="search()" type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Speakers</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in entries">
                    <td><a href="#/talks/{{entry._id}}">{{entry.title}}</a></td>
                    <td>
                        <ul>
                            <li ng-repeat="speaker in entry.speakers">
                                <a href="#/speakers/{{ speaker.ref }}">{{ speaker.name.firstName }} {{
                                    speaker.name.lastName }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tbody>
            </table>
        </div>
    </div>

</div>


