<div class="container">

    <div class="row">
        <div class="span6">
           <h2>Number of talks by tag</h2>
        </div>

    </div>


    <div class="row">
        <div class="span6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Tag</th>
                    <th>Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in tags">

                    <td>
                        {{item.tag}}
                    </td>

                    <td>
                        {{item.count}}
                    </td>
                </tr>

                <tbody>
            </table>
        </div>
    </div>


</div>


